html, body {
    font-size: 100%;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8c8c8c;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #384561;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0F2147;

/* Colours */
.background-green {
    background-color: rgba(92, 188, 169, 1);
}

.background-yellow {
    background-color: rgba(221, 155, 43, 1);
}

.background-lightred {
    background-color: rgba(227, 95, 82, 1);
}

.background-red {
    background-color: rgba(255, 23, 0, 1);

}