@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Conversion Dashboard</title>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="BlazorApp.styles.css" rel="stylesheet"/>
    <style>
       #errorlog-tab > .rz-tabview-panels, #reconciliation-tab > .rz-tabview-panels{
           background-color: #384561 !important;
           border: none;
           overflow: hidden;
           text-align: left;
           border-radius: 0;
       }
       
       .rz-tabview-panel {
           background-color: #384561 !important;
       }
       
       table {
           table-layout: fixed !important;
           width: 100%;
           display: block;
       }
       
       thead{
           display: inline-block;
       }
       
       thead tr {
           display: block;
           width: 100% !important;
           overflow: hidden !important;
           padding: 0 !important;
           margin: 0 !important;
           top: 0;
       }
       
       tbody{ 
           overflow: auto;
           display: inline-block;
       }
       
       .rz-grid-table { /* Size of table */
            width: 100%;
            height: 85vh;
            max-height: 85vh;
       }
       
       .rz-tabview-panel {
           padding: 0 !important;
           padding-top: 1rem !important;
           padding-bottom: 1rem !important;
           padding-left: 1rem !important;
       }
       
       .TabElement > a {
           color: #FFFFFF !important;
           text-decoration: none !important;
           height: 100%;
           width: 100%;
       }
       .TabElement {
           display: flex;
           align-items: center;
           border-radius: 0 !important; 
           border: none !important;
           background-color: #0F2147 !important;
           height: 4em;
       }
       .rz-tabview-selected {
           background-color: #384561 !important;
       }
       .rz-column-title, .rz-sortable-column-icon, .rz-grid-filter-icon  {
           color: #FFFFFF !important;
           position: sticky !important;
       }
       .rz-unselectable-text {
           background-color: #384561 !important;
           border: none !important;
       }
       .rz-data-grid{
           border: none !important;
           background-color: #384561 !important;
       }
    </style>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<!-- This is the glue between Blazor and Chart.js -->
<script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
</body>
</html>