/* Health CSS */
.cpu_usage{
    background-color: #384561;
    font-size: 2rem;
    color: #FFFFFF;
    padding: 0;
}

.info-labels{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    padding: 0.1rem 1rem;
}

.cpu_text {
    font-size: 0.5em;
}

.memory_text {
    font-size: 0.5em;
}

.chart-header{
    display: grid;
    grid-template-columns: 30fr 70fr;
}

.dropdown {
    position: relative;
    left: 5%;
    height: 1.1em;
    background-color: #4B5772;
    font-family: inherit;
    font-size: 0.5em;
    color: #e3e3e3;
    padding: 0.3em;
    cursor: pointer;
    border: 1px solid #384561;
    border-bottom: 1px solid #8E8E8E;
    align-self: center;
}

.selected-manager-name{
    position: absolute;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-arrow{
    position: absolute;
    top: 25%;
    right: 3%;
    height: 1em;
    width: 6%;
}

.dropup-arrow{
    display: none;
    position: absolute;
    top: 25%;
    right: 3%;
    height: 1em;
    width: 6%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 10em;
    font-size: 1em;
    transform: translate(-0.3em,1.4em);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #8E8E8E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #4B5772;
    z-index: 2;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-arrow{
    display: none;
}

.dropdown:hover .dropup-arrow{
    display: inline-block;
}

.dropdown-content > div{
    display: block;
    color: #e3e3e3;
    padding: 0.5em;
    user-select: none;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #8E8E8E;
}

.dropdown-content-first{
    border-top: none !important;
}

.dropdown-content > div:hover {
    background-color: #0F2147;
}

.chart-title{
    position: relative;
    left: 15%;
    width: 50%;
    align-self: end;
}

.chart-header{
    display: grid;
    grid-template-columns: 30fr 40fr 30fr;
}

.oblong {
    height: 0.3em;
    width: 1em;
    border-radius: 0.25em;
}


/* Checkbox styling */    
    .checkbox-container {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 0.5em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #0F2147;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 6px;
        top: 3px;
        width: 3px;
        height: 7px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }