.summary{
    border: 5px;
    background-color: #384561;
    position: relative;
    width: 48%;
    height: 800px;
}

.summary_caption{
    color: #FFFFFF;
}

.cpu_usage{
    border: 5px;
    background-color: #384561;
    position: absolute;
    left: 1065px;
    top: 74px;
    width: 43%;
    color: #FFFFFF;
    height: 400px;
}
