@page "/"
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.PieChart
@using BlazorApp.Data
@using System.Globalization

<link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>

@if (_managers == null || _managers.Count == 0)
{
    <p>Loading ....</p>
}
else
{
    <div class="overview_container">
        <Summary Managers="_managers"></Summary>
        <div class="Overview-right">
            <HealthReport Managers="_managers"></HealthReport>
            <div class="efficiency-table-container">
                <EfficiencyTable></EfficiencyTable>
            </div>
        </div>
    </div>
}

@code{
	private List<ManagerStatusHandler> _managers = new ();
    
    protected override async Task OnInitializedAsync()
    {
	    _managers = await Task.Run(() => ConversionDataAssigner.FinishedManagers);
        StateHasChanged();
        UpdateOverviewTriggered += async (o, args) =>
	    {
		    await InvokeAsync(StateHasChanged);
	    };
    }
}


