@page "/overflow"
@using System.Security.Principal
@using Microsoft.AspNetCore.SignalR
@inject IJSRuntime JSRuntime; 

<div class="demos">This is some text inside the div which we are testing</div>
<div class="demos">This is text.</div>

@code {

    public partial class OverflowChecker
    {
        [Inject]
        IJSRuntime JSRuntime { get; set; }
    
        protected async Task MyFunction()
        {
            await JSRuntime.InvokeVoidAsync("console.log('test')");
        }
    }

}