@page "/"
@using BlazorApp.Data

<link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>

@if (ConversionDataAssigner.CurrentManager == null && ConversionDataAssigner.FinishedManagers.Count < 1)
{
    <p>Waiting for a manager to start ....</p>
}
else
{
    <div class="overview_container">
        <div class="summary-container">
            <Summary Managers="_managers"></Summary>
        </div>
        <div class="Overview-right">
            <div class="health-report-table-container">
                <HealthReport Managers="_managers"></HealthReport>
            </div>
            <div class="efficiency-table-container">
                <EfficiencyTable Managers="_managers"></EfficiencyTable>
            </div>
        </div>
    </div>
}

@code{
    private List<ManagerStatusHandler> _managers = new ();
    
    protected override async Task OnInitializedAsync()
    {
        _managers = await Task.Run(() => ConversionDataAssigner.FinishedManagers);
        StateHasChanged();
        UpdateOverviewTriggered += async (o, args) =>
	    {
		    await InvokeAsync(StateHasChanged);
	    };
    }
}


