/* Summary root +++++++++*/
.overview_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.Overview-right{ +++++++++++++++++++++++++++++++++++++++++++++++
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

/* Efficiency table */    
.efficiency-table-container {
    background-color: #384561;
    overflow-y: auto;
    max-width: 100%;
}

.efficiency-table-container > div {
    font-size: 0.6em;
}

