@page "/overflow"
@inject IJSRuntime jsRuntime; 

<div class="overflowCheck">This is some text inside the div which we are testing</div>
<div class="overflowCheck">This is text.</div>

@code {
    JSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) /* Imports the OverflowChecker.js file when page gets loaded */
        {
            module = (JSObjectReference) await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./OverflowChecker.js");
        }
    }
}