.html {
    font-size: 100%;
}

.page {
    display: grid;
    grid-template-columns: 9.375rem 1fr;
    background-color: #9299A8;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.content{
    padding: 0;
}

.sidebar {
    background-color: #0F2147; /* Netcompany blue color */
    filter: drop-shadow(0 0 0.25rem);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

.main {
    background-color: #9299A8 !important;
}
