.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-color: #0F2147; /* Netcompany blue color */
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 150px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
  
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
