<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Netcompany</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="Icons/overview-icon.svg" alt="Overview"/><span aria-hidden="true"></span> Overview
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="errors">
                <img src="Icons/error-icon.svg" alt="Errors"/><span aria-hidden="true"></span> Errors
            </NavLink>
        </li>
        <li class="nav-item px-3">
        <NavLink class="nav-link" href="reconciliations"> 
            <img src="Icons/Reconciliations-icon.svg" alt="Reconciliations"/><span aria-hidden="true"></span> Reconciliations
        </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
